{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container resource-page">

        <div class="row">
            <div class="col-6">
                <img src="{{ resource.image }}" class="resource-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ resource.name }}</h1>

                <span>Описание: {{ resource.description }}</span>

                <span>Плотность: {{ resource.density }}г/см³</span>

                <a href="/" class="btn btn-primary my-4 w-25 return-btn">
                    Домой
                </a>

            </div>
        </div>

    </main>
{% endblock content %}